<!DOCTYPE html>
<html>
<head>
	<title>Under Construction</title>
	<script>
	function delayRedirect(){
    document.getElementById('delayMsg').innerHTML = 'Please wait you\'ll be redirected after <span id="countDown">5</span> seconds....';
    var count = 5;
    setInterval(function(){
        count--;
        document.getElementById('countDown').innerHTML = count;
        if (count == 0) {
            window.location = '/TeacherHome'; 
        }
    },1000);
}
</script>
</head>
<body onload="delayRedirect()">
	<center>
	<h1 style="color: :red">Under Construction</h1>
	<div id="delayMsg"></div>
	</center>
</body>
</html>